@media screen and (max-width: 880px){
    nav .content-navbar{
        display: none;
    }
    nav .main-navbar .cart-wishlist{
        display: none;
    }
    nav .menu-bar{
        display: block;
    }


}

@media screen and (max-width: 768px){
    main .slide-wrapper button{
        font-size: 1.2rem;
        padding: 12.5px;
    }
    .flash_sales .content_title{
       display: flex;
       flex-direction: column;
       align-items: flex-start !important;
    }
}
@media screen and (max-width: 576px){
    main .slide-wrapper button{
        font-size: 1rem;
        padding: 10px;
    }
}