@media screen and (max-width: 550px){
    nav .content-navbar{
        display: none;
    }
    nav .menu-bar{
        display: block;
    }
    main{
        width: 90%;
    }
    main .secur-img{
        display: none;
    }
}
@media screen and (max-width: 880px){
    nav .content-navbar{
        display: none;
    }
    nav .main-navbar .cart-wishlist{
        display: none;
    }
    nav .menu-bar{
        display: block;
    }
}