@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter";
}

:root{
    --first-primary-clr: #1f2937;
    --second-primary-clr: #111827;
    --txt-clr: #ffffffb0;
    --main-clr: #FF7700;
    --text-size: 14.5px;
    --bg-10percent: #ffffff10;
    --transition-all: all 0.25s ease;
    --transition-dura: 0.25s;
}
.container{
    width: 100%;
    height: auto;
    background-color: var(--first-primary-clr);
    /* background: linear-gradient(135deg, var(--first-primary-clr), var(--second-primary-clr)); */
}
/* ======= Navbar ======== */
.top-navbar{
    width: 100%;
    background-color: var(--first-primary-clr);
    color: var(--txt-clr);
    font-size: 13px;
    height: 20px;
}
.top-navbar .top-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: auto;
}
.top-navbar span{
    color: var(--main-clr);
}
nav{
    position: sticky;
    top: 0;
    z-index: 98;
    background-color: black;
}
nav .main-navbar{
    display: flex;
    width: 90%;
    margin: auto;
    height: 60px;
    color: white;
    justify-content: space-between;
    align-items: center;
}
nav .main-navbar h1{
    cursor: pointer;
    color: var(--txt-clr);
    background-image: linear-gradient(135deg, var(--main-clr), purple);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}
nav ul,li{
    display: flex;
    list-style-type: none;
    transition: var(--transition-all);
    padding: 0 2px;
}
nav li a{
    font-size: var(--text-size);
    color: var(--txt-clr);
    text-decoration: none;
    padding: 10px;
    border-radius: 2.5px;
    cursor: pointer;
}
nav li a:hover{
    color: white;
    transition: var(--transition-dura);
}
nav .srch{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
nav .srch .cart-wishlist {
    display: flex;
    flex-direction: row;
    gap: 10px;
}
nav .srch .cart-wishlist a{
    color: var(--txt-clr);
}
nav .srch .cart-wishlist i{
    font-size: 1.2rem;
    cursor: pointer;
    color: var(--txt-clr);
}
nav .srch .srch-block{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 2px;
    background-color: var(--bg-10percent);
    padding: 6px;
}
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
  display: none;
}
.srch input{
    background-color: transparent;
    border: none;
    outline: none;
    color: white;
    padding: 5px;
}
.srch label i{
    color: var(--txt-clr);
    cursor: pointer;
    transition: all 0.5s ease;
}
.srch label i:hover{
    background-image: linear-gradient(135deg, var(--main-clr), purple);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    transition: 0.5;
}
/* ========= Menu Bar =========== */
nav .menu-bar{
    display: none;
    z-index: 99;
}
nav .menu-bar .blur-bg{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    opacity: 0.5;
    background-color: #1f2937;
}
nav .menu-bar .bar{
    color: var(--txt-clr);
    font-size: 1.2rem;
    background-color: var(--bg-10percent);
    border-radius: 50%;
    padding: 8px;
    cursor: pointer;
}
nav .menu-bar .bar:active{
    background-color: rgba(255, 255, 255, 0.1);
}
nav .menu-bar .menu .head{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0 10px 0;
    border-bottom: 1.5px solid rgba(255, 255, 255, 0.2);
}
nav .menu-bar .menu .head h1{
    margin-left: 10%;
    font-size: 1.8rem;
    width: max-content;
}
nav .menu-bar .menu .head .xmark{
    margin-right: 5%;
    padding: 7px;
    border-radius: 50%;
    background-color: var(--bg-10percent);
    cursor: pointer;
}
nav .menu-bar .menu .head .xmark:active{
    background-color: rgba(255, 255, 255, 0.1);
}
nav .menu-bar .menu .head .xmark i{
    color: var(--main-clr);
}
nav .menu-bar .menu{
    display: none;
    position: absolute;
    width: 300px;
    top: 0;
    right: 0;
    background-color: black;
    box-shadow: 0 0 5px 0.2px rgb(0, 0, 0);
    height: 100vh;
}
nav .menu-bar ul{
    display: flex;
    flex-direction: column;
    gap: 1px;
    margin-top: 10px;
}
nav .menu-bar .menu ul li a{
    font-size: 1rem;
    border-radius: 2.5px;
    width: 100%;
    transition: var(--transition-all);
}
nav .menu-bar .menu ul li a:hover i{
    background-image: linear-gradient(13deg, var(--main-clr), purple);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    transition: var(--transition-dura);
}

/* =========== Main Content =========== */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
main{
    width: 90%;
    margin: auto;
    height: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}
main .content{
    height: auto;
    min-height: 70vh;
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    gap: 20px;
}
main .content .contact-info{
    background-color: #111827;
    height: 100%;
    display: flex;
    flex-direction: column;
    place-content: center;
    border-radius: 5px;
}
main .content .contact-info .captain{
    width: 85%;
    margin: auto;
    display: flex;
    flex-direction: column;
}
main .content .contact-info .call-to-us,.write-to-us{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 30px 0;
}
main .content .contact-info .title{
    font-size: 1.1rem !important; 
    color: white !important;
}
main .content .contact-info .title span{
    background: linear-gradient(135deg, var(--main-clr), purple);
    padding: 6px;
    border-radius: 50%;
}
main .content .contact-info .captain p{
    color: var(--txt-clr);
    font-size: 0.95rem;
}
main .content .input-info{
    height: 100%;
    background-color: #111827;
    display: flex;
    border-radius: 5px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
main .content .input-info .input{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
}
main .content .input-info .captain .input input{
    outline: none;
    font-size: 0.9rem;
    padding: 10px 10px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 2.5px;
    color: var(--txt-clr);
    background-color: transparent;
}
main .content .input-info .captain{
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
main .content .input-info .captain textarea{
    resize: none;
    outline: none;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background-color: transparent;
    border-radius: 2.5px;
    color: rgba(255, 255, 255, 0.3);
    height: 250px;
    color: var(--txt-clr);
    font-size: 0.95rem;
    padding-left: 17px;
    padding-top: 15px;
}
main .content .input-info .captain button{
    background: linear-gradient(135deg, var(--main-clr), purple);
    border: none;
    padding: 10px;
    border-radius: 2.5px;
    cursor: pointer;
    color: var(--txt-clr);
}
main .content .input-info .captain button:active{
    background-color: #dc6700;
}
/*============ Footer==============*/
/* ===== Footer ======= */
footer{
    width: 100%;
    height: auto;
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
    margin-top: 30px;
}
footer .content{
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
    gap: 10px;
}
footer .col{
    color: rgb(175, 175, 175);
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    padding: 15px 0;
}
.col1 form{
    padding: 10px;
    width: 180px;
    border: 2px solid rgb(175, 175, 175);
    border-radius: 5px;
}
.col1 form input{
    background-color: transparent;
    border: 0px;
    outline: none;
    color: white;
    width: 125px;
    font-size: 15px;
}
.col1 .a-telegram{
    padding: 20px;
}
.col1 .fa-arrow-right{
    cursor: pointer;
}
.col5 .socialMedia{
    display: flex;
    gap: 0.5em;
    font-size: large;
    margin-top: -15px;
}
.col5 .socialMedia i, span{
    cursor: pointer;
}
.footer{
    background-color: black;
    color: rgb(99, 99, 99);
    border-top: 1px solid rgb(57, 57, 57);
    height: 10vh;
    place-content: center;
    text-align: center;
}